body{
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.container{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 6px;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}